.logo-container {
  z-index: -1;
  width: 780px;
  height: auto;
  position: absolute;
  top: 20%;
  right: -25%;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: rotateZ(18deg) !important;
  #draw-logo {
    width: 100%;
    height: auto;
    path {
      stroke-dasharray: 3000px;
      stroke-dashoffset: 3000px;
      animation: lineanimate 8s ease-in-out forwards;
    }
    @keyframes lineanimate {
      to {
        stroke-dashoffset: 0;
        stroke-dasharray: 20px;
      }
    }
  }

  .solid-logo {
    position: absolute;
    top: 3%;
    right: 0%;
    bottom: 0%;
    left: 3%;
    opacity: 0;
    -webkit-animation: fadein 6s ease-in forwards 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s ease-in forwards 4s; /* Firefox < 16 */
    -ms-animation: fadein 6s ease-in forwards 4s; /* Internet Explorer */
    -o-animation: fadein 6s ease-in forwards 4s; /* Opera < 12.1 */
    animation: fadein 6s ease-in forwards 4s;
    @keyframes fadein {
      to {
        opacity: 1;
      }
    }

    /* Firefox < 16 */
    @-moz-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 2;
}
